# Rename this file to .env and fill in the values

VITE_FIREBASE_API_KEY="AIzaSyA2QnE-6Q4RfJsRiHk-oVtgW2-2jji4jBs"
VITE_FIREBASE_AUTH_DOMAIN="concordiacal-e1988.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="concordiacal-e1988"
VITE_FIREBASE_STORAGE_BUCKET="concordiacal-e1988.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="147972257637"
VITE_FIREBASE_APP_ID= "1:147972257637:web:00a9d90dce570935d5d38c"
VITE_EMAIL_SERVICE_ID